*{
    margin: 0;
    padding: 0;
}
h1{
    padding-top: 3%;
    padding-left: 39%;
    font-family: Elvetica;
}
#resultados{
    font-family: Elvetica;
    padding-left: 7%;
    padding-bottom: 1%;
    padding-top: 1%;
    font-size: 22px;
}   

#form{
    padding-left: 15%;
    font-family: Elvetica;
}
#C{
    padding-left: 40%;
    padding-top: 2%;
    padding-bottom: 1%;
    font-size: 18px;
}
#F{
    padding-left: 40%;
    padding-top: 1%;
    padding-bottom: 1%;
    font-size: 18px;
}
#K{
    padding-left: 40%;
    padding-top: 1%;
    padding-bottom: 1%;
    font-size: 18px;
}
#R{
    padding-left: 40%;
    padding-top: 1%;
    padding-bottom: 1%;
    font-size: 18px; 
}
#escolha{
    padding-left: 40%;
    padding-top: 1%;
    padding-bottom: 1%;
    font-size: 20px;    
    font-family: Elvetica;
}
#calcular{
    padding-top: 2%;
    padding-left: 45%;    
}
#tabela{
    padding-left: 38%;
    font-size: 19px;    
    font-family: Elvetica;
}
#limpar{
    padding-left: 45%;
    padding-top: 3%;
    padding-bottom: 1%;
}
